#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;

    input {
        width: 12rem;
        height: 2rem;
        background-color: rgb(206, 204, 204);
        color:white;
    }
}