@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    font-family: montserrat;
}

.menu {
  h1 {
    text-align: center;
  }

  .sizes {
    text-align: center;
  }
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;

  .cell {
    border: 1px solid red;
    height: 30px;
    width: 30px;
    margin: 5px;
  }
}

.status-game {
    display:flex;
    justify-content: center;
    align-items: center;
}
