* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .color {
            opacity: 0.5;
        }

        #red {
            background-color: red;
            width: 400px;
            height: 400px;
            margin-top:3rem;
            border-top-left-radius: 100%;;
        }

        #blue {
            background-color: blue;
            width: 400px;
            height: 400px;
            margin-top:3rem;
            border-top-right-radius: 100%;;
        }

        #yellow {
            background-color: yellow;
            width: 400px;
            height: 400px;
            border-bottom-left-radius: 100%;;
        }

        #green {
            background-color: green;
            width: 400px;
            height: 400px;
            border-bottom-right-radius: 100%;;
        }
    }

    .btn {
        background-color: black;
        color: white;
        padding: 1rem;
        border: none;
        margin-top: 3rem;
        font-size: 2rem;
    }
}