.tabla {
    display: flex;
    flex-direction: column;
    gap:1rem;
    .fila {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap:2rem;

        .celda {
            flex:1;
            background-color: red;
            width: 100px;
            height: 100px;
            margin-top: 1rem;
        }
    }
}