@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        #red {
            background-color: rgb(177, 7, 7);
            width: 400px;
            height: 400px;
            margin-top:3rem;
            border-top-left-radius: 100%;;
        }

        #blue {
            background-color: rgb(16, 7, 143);
            width: 400px;
            height: 400px;
            margin-top:3rem;
            border-top-right-radius: 100%;;
        }

        #yellow {
            background-color: rgb(247, 193, 46);
            width: 400px;
            height: 400px;
            border-bottom-left-radius: 100%;;
        }

        #green {
            background-color: rgb(4, 121, 4);
            width: 400px;
            height: 400px;
            border-bottom-right-radius: 100%;;
        }
    }

    .btn {
        background-color: black;
        color: white;
        padding: 1rem;
        border: none;
        margin-top: 3rem;
        font-size: 2rem;
    }

    #message {
        margin-top: 3rem;
        font-size: 4rem;
        font-family: Montserrat, sans-serif;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}