#tabla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    background: #fff;
    width: 90vmin;
    height: 90vmin;
}

#tabla1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    background: #fff;
    width: 90vmin;
    height: 90vmin;
}

#tabla2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    background: #fff;
    width: 90vmin;
    height: 90vmin;
}

#tabla3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    background: #fff;
    width: 90vmin;
    height: 90vmin;
}

.casilla {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casilla:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}


#status {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}